@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --primary-color: #b91c1c;
    --secondary-color:#fecaca;
}  
html,
body{
    font-family: 'Fira Sans',
    sans-serif;
    margin: 0px;
    font-weight: 300;
    line-height: 1.4;
    
}

/*Navigation*/
nav{
    box-shadow: 12px 12px 12px var(--primary-color);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background: var(--secondary-color);
    padding: 54px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
.container{
    max-width: 1200px;
    margin: 0 auto;
    }

.logo_container{
    position: absolute;
    top: 0;
    width: 10%;
    height: 10%;
    object-fit: cover;
    object-position: 55%;
    transform: scale(0.5) translate(0, 5%);
    }

.bar_icon{
        font-size: 32px;
        right: 0;
        padding: 8%;
        position: absolute;
    }

    /* Hero section */
.hero{
        display: flex;
        gap: 100px;
        justify-content: center;
        align-items: center;
    }






